// Colors
$primary-color: #c58324;
$secondary-color: #091116;
$background-color: #fff;
$text-color: #000;
$highlight-text-color: #fff;

// Button hover
$get-in-touch-hover-bg: #c58324;
$get-in-touch-hover-text: #fff;
