@import '../abstracts/';

:root {
    --plyr-color-main: #C58324;
    --plyr-control-icon-size: 15px;
    --plyr-control-radius: 20px;
    --plyr-font-family: "Helvetica Neue", Helvetica, sans-serif;
    --plyr-control-spacing: 15px;
}