@use '../abstracts/' as a;
@use '../components/' as b;

body {
  span.gradient-text {
    background-image: linear-gradient(182deg, #c58324 52%, #ffd599 90%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: a.$font-primary;
  }

  .heading {
    margin-top: 128px;
    margin-bottom: 128px;
    text-align: center;

    h1 {
      font-size: 48px;
      line-height: 1.2;
      margin-bottom: 16px;
    }

    h4 {
      font-size: 16px;
      line-height: 25px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .project-display {

    #first-hilite {
      margin-top: 472px;
    }

    .projects {

      .btn {
        margin: 32px auto;
        font-size: 1rem;
        padding: 16px 32px;
      }

      .description {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          color: #000;
        }
      }

      .mission {
        margin-top: 72px;
        margin-bottom: 72px;

        .background {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 632px;

          p {
            color: #000000;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
          }

          p:first-of-type {
            margin-bottom: 24px;
          }
        }
      }
    }

  }

  .text-box {
    margin-top: 72px;
    margin-bottom: 72px;
  }

  #hack {
    margin-bottom: 128px;
  }

  .box-move {
    margin-bottom: 32px;
    margin-top: 680px;
  }

  .dark-bg {
    background-color: a.$secondary-color;
    color: #fff;
  }

  .projects-btn {
    margin: 44px auto 128px auto;
  }

  .services {

    .services-0 {
      h2 {
        text-align: center;
        margin-bottom: 24px;
        margin-top: 36px;
      }
    }

    .services-1 {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .drop {
        opacity: 0.08;
        margin-top: 32px;
      }

      p {
        margin-bottom: 32px;
      }
    }

    .quote {
      margin: 48px auto 72px auto;
    }
  }

}

@media screen and (min-width: 1200px) {
  body {

    .heading {
      text-align: center;

      h1 {
        font-size: 72px;
        line-height: 72px;
      }

      h4 {
        font-size: 24px;
      }
    }

    .project-display {
      .projects {
        .btn {
          margin: 48px auto;
        }
      }

      .mission {
        margin-top: 72px;
        margin-bottom: 72px;

        #stubborn {
          flex-direction: column;
          width: 100%;
          height: 632px;

          p {
            color: #000000;
            font-size: 38px;
            font-weight: 400;
            line-height: 50px;
          }

          p:first-of-type {
            margin-bottom: 24px;
          }
        }
      }
    }



    .services {

      .services-0 {
        margin-top: 32px;

        .divisor {
          margin-bottom: 16px;
        }
      }

      .services-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 52px auto;

        .drop {
          margin-top: 0;
          width: 5%;
        }

        h3 {
          width: 26%;
        }

        p {
          width: 40%;
          margin-bottom: 0px;
        }
      }

      .quote {
        margin: 72px auto;

        h4 {
          font-size: 2rem;
          line-height: normal;
        }
      }
    }

  }
}