body {
    #contact-head {
        h1 {
            font-size: 48px;
            margin-bottom: 72px;
        }
    }

    #contact-projects {
        .box-move {
            margin-top: 72px;
            margin-bottom: 16px;
        }

        .description {
            margin-top: 0;
        }

        .image-box-3 {
            margin-top: 72px;
        }

        #zima-2 {
            margin-top: 0;
        }

    }
}


@media screen and (min-width: 1200px) {
    body {
        #contact-head {
            margin-bottom: 128px;

            h1 {
                font-size: 72px;
                margin-bottom: 72px;
            }
        }

        #contact-projects {
            .box-move {
                margin-top: 128px;
                margin-bottom: 16px;
            }

            .description {
                margin-top: 0;
            }

            .image-box-3 {
                margin-top: 128px;
            }

            #zima-2 {
                margin-top: 128px;
            }

        }


        #projects-play {

            .box {
                img {
                    height: 496px;
                }
            }

            .first-pro {
                margin-bottom: 128px;
            }

            #hack-proj {
                margin-top: 128px;

                img {
                    height: 496px;
                }
            }

            #bottom-pro {
                margin-top: 128px;
            }
        }

        footer {
            margin-top: 128px;
        }
    }

}